@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --font-family: "Manrope", sans-serif;
  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  --color-bg: #040C18;
  --color-footer: #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  font-size: 1.2rem;
  transition: 0.5s;
}

.gradient__bg {
  /* safari 5.1+,chrome 10+ */
  /* opera 11.10+ */
  /* ie 10+ */
  /* global 92%+ browsers support */
  background: radial-gradient(circle at 3% 25%, rgb(0, 40, 83) 0%, rgb(4, 12, 24) 25%);
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scale-up-center {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
nav .navbar-brand, .nav-link, .btn {
  font-family: "Manrope", sans-serif;
  color: #ffffff;
  font-weight: 500;
}

nav .navbar-brand {
  font-size: 24px;
  font-weight: bold;
  margin-left: -30px;
}

nav .nav-item {
  margin-left: 20px;
}

nav .btn {
  padding: 4px 20px;
  background: #FF4820;
  margin-left: 20px;
}

nav .btn:hover {
  background: #fff;
  color: #FF4820;
}

.navbar-toggler {
  background-color: #ffffff;
}

.header-content {
  margin-top: 80px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.header h1, .blog-header, .footer-header {
  font-size: 51px;
  font-weight: 800;
}

.header p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-text);
  margin-top: 1.5rem;
}

.header-content__input {
  width: 100%;
  margin: 2rem 0 1rem;
  display: flex;
  flex-direction: row;
}

.header-content__input input {
  flex: 2;
  width: 100%;
  min-height: 50px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  background: var(--color-footer);
  border: 2px solid var(--color-footer);
  padding: 0 1rem;
  outline: none;
  color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.header-content__input button {
  flex: 0.6;
  width: 100%;
  min-height: 50px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  background: #FF4820;
  border: 2px solid #FF4820;
  padding: 0 1rem;
  color: #fff;
  cursor: pointer;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header-content__input button:hover {
  background: #fff;
  color: #FF4820;
  transition: 0.7s;
}

.header-content__people {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-top: 2rem;
}

.header-content__people img {
  width: 181.79px;
  height: 38px;
}

.header-content__people p {
  margin: 0 0 0 1rem;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 38px;
  color: #fff;
  text-align: center;
}

.header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 2rem;
  width: 100%;
}

.header-image img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1196px) {
  .header-content h1 {
    font-size: 40px;
  }
  .header-content p {
    font-size: 14px;
  }
  .header-content__input input {
    font-size: 18px;
  }
  .header-content__input button {
    font-size: 16px;
  }
  .header-content__people img {
    width: 170px;
  }
  .header-content__people p {
    font-size: 11px;
    line-height: 20px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    padding: 0 1rem;
  }
  header-menu nav {
    padding: 32px 0 !important;
  }
  .sign-up .nav-link {
    margin: 6px 0px;
  }
  .sign-up .btn {
    width: 100px;
  }
  nav .nav-item {
    margin-left: 1px;
  }
  .header-content {
    margin-top: 2rem !important;
  }
  .header h1 {
    font-size: 2rem;
  }
  .header-content p {
    font-size: 11.5px;
  }
  .header-content__input input {
    font-size: 14px;
  }
  .header-content__input button {
    font-size: 14px;
    line-height: 20px;
  }
  .header-content__people img {
    width: 170px;
  }
  .header-content__people p {
    font-size: 10px;
  }
}
@media screen and (max-width: 768px) {
  .header-content h1 {
    font-size: 2.5rem;
    padding: 0 8rem 0 0;
  }
  .header-content p {
    font-size: 1rem;
    line-height: 20px;
  }
  .header-content__input input {
    font-size: 14px;
    padding: 0 0.5rem;
  }
  .header-content__input button {
    font-size: 14px;
    line-height: 16px;
    padding: 0 0.5rem;
  }
  .header-content__people {
    flex-direction: column;
  }
  .header-content__people img {
    width: 170px;
    margin-top: 0px;
  }
  .header-content__people p {
    margin-top: 1rem;
    font-size: 11px;
    line-height: 20px;
  }
  .header .row {
    flex-direction: column;
  }
  .header .row .header-image img {
    margin-top: 30px;
  }
}
@media screen and (max-width: 600px) {
  .header-content h1 {
    font-size: 2rem;
    padding: 0 1rem 0 0;
  }
  nav .navbar-brand {
    padding: 32px;
  }
  .header-content {
    padding: 0 32px;
  }
}
.partners .row {
  display: flex;
  justify-content: center;
}

.partners img {
  height: 24.14px;
  width: 71.1px;
  border-radius: 0px;
  margin: 20px;
}

.gpt3_whatgpt3 {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 6rem 0rem;
  padding: 4rem 2rem;
  justify-content: center;
  background: var(--color-footer);
  background-size: 100%;
  width: 100%;
  /* safari 5.1+,chrome 10+ */
  /* opera 11.10+ */
  /* ie 10+ */
  /* global 92%+ browsers support */
  background: radial-gradient(circle at 30% -100%, #042c54 25%, rgb(4, 44, 84) 85%, rgb(27, 120, 222) 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.whatgpt3_gpt3-features {
  display: flex;
  flex-direction: column;
}

.whatgpt3_features-feature {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.whatgpt3_feature-title {
  width: 20rem;
  display: block;
}

.whatgpt3_feature-title h1, .gpt3_feature-h1 {
  font-family: "Manrope";
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 35px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}

.whatgpt3_feature-text {
  min-width: 20rem;
  flex: 1;
  font-family: "Manrope";
  font-weight: 500;
  font-size: 1rem;
  line-height: 30px;
  color: #81AFDD;
  overflow-wrap: break-word;
}

.whatgpt3_features-heading {
  margin: 5.5rem 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.whatgpt3_features-heading h1 {
  font-family: "Manrope";
  font-weight: 800;
  font-size: 2.2rem;
  line-height: 55px;
}
.whatgpt3_features-heading p {
  font-family: "Manrope";
  font-weight: 500;
  font-size: 1rem;
  line-height: 30px;
  color: #FF8A71;
}

.gpt3_features-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2rem;
}
.gpt3_features-container .gpt3_features-feature {
  flex: 1;
  margin-left: 1rem;
  min-width: 300px;
  display: unset;
  flex-direction: column;
}
.gpt3_features-container .gpt3_features-feature .gpt3_feature-title {
  margin-bottom: 3rem;
}
.gpt3_features-container .gpt3_features-feature .gpt3_feature-text {
  flex: 2;
  max-width: 390px;
  display: flex;
}

@media screen and (max-width: 992px) {
  .whatgpt3_gpt3-features .gpt3_features-container .gpt3_features-feature {
    margin-bottom: 1rem;
  }
  .whatgpt3_gpt3-features .gpt3_features-container .gpt3_features-feature .gpt3_feature-title {
    margin-bottom: 1rem;
  }
  .whatgpt3_gpt3-features .whatgpt3_feature-heading {
    margin: 2rem 0;
  }
  .whatgpt3_gpt3-features .whatgpt3_feature-heading h1 {
    line-height: 40px;
  }
}
@media screen and (max-width: 768px) {
  .gpt3_whatgpt3 {
    flex-direction: column;
    padding: 1rem;
    width: 100%;
  }
  .gpt3_features-container .gpt3_features-feature {
    margin-left: 0;
  }
  .whatgpt3_feature-title {
    padding: 0 2rem;
  }
  .whatgpt3_feature-text {
    padding: 0 2rem;
  }
  .whatgpt3_features-heading {
    flex-direction: column;
    align-items: start;
    margin: 2rem 0 0 0;
  }
  .whatgpt3_features-heading h1 {
    font-size: 1.5rem;
    line-height: 35px;
    padding: 0 2rem;
  }
  .whatgpt3_features-heading h1 br {
    display: none;
  }
  .whatgpt3_features-heading p {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 600px) {
  .whatgpt3_gpt3-features {
    margin-left: -2rem;
  }
  .whatgpt3_feature-title {
    padding: 0 2rem;
  }
  .whatgpt3_feature-text {
    padding: 0 2rem;
  }
  .whatgpt3_features-heading {
    flex-direction: column;
    align-items: start;
  }
  .whatgpt3_features-heading h1 {
    padding: 0 2rem;
  }
  .whatgpt3_features-heading h1 br {
    display: none;
  }
  .whatgpt3_features-heading p {
    padding: 2rem 2rem 0;
  }
}
.gpt3_features-section {
  margin-top: 6rem;
}
.gpt3_features-section .gpt3_features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;
}
.gpt3_features-section .gpt3_features .gpt3_feature-header {
  flex-direction: column;
  min-width: 300px;
  flex-wrap: wrap;
  flex: 1;
}
.gpt3_features-section .gpt3_features .gpt3_feature-header .gpt3_feature-header-text, .gpt3_features-section .gpt3_features .gpt3_feature-header .gpt3_feature-header-para {
  width: 400px;
  padding: 0 0 2rem 0;
}
.gpt3_features-section .gpt3_features .gpt3_feature-header h1 {
  font-family: "Manrope";
  font-weight: 800;
  font-size: 2rem;
  line-height: 45px;
  text-overflow: clip;
}
.gpt3_features-section .gpt3_features .gpt3_feature-header p {
  font-family: "Manrope";
  font-weight: 500;
  font-size: 1rem;
  line-height: 30px;
  color: #FF8A71;
}
.gpt3_features-section .gpt3_features .gpt3_features-container {
  display: flex;
  flex-direction: column;
  flex: 2;
  flex-wrap: wrap;
  margin: 0 0 0 12rem;
}
.gpt3_features-section .gpt3_features .gpt3_features-container .gpt3_feature {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 2rem 0;
}
.gpt3_features-section .gpt3_features .gpt3_features-container .gpt3_feature .gpt3_feature-title {
  display: flex;
  flex-direction: column;
  min-width: 80px;
  margin: 0 8rem 0 0;
  flex: 1;
  flex-wrap: wrap;
}
.gpt3_features-section .gpt3_features .gpt3_features-container .gpt3_feature .gpt3_feature-title h1 {
  font-family: "Manrope";
  font-weight: 800;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}
.gpt3_features-section .gpt3_features .gpt3_features-container .gpt3_feature .gpt3_feature-text {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0 0 0rem;
  flex: 2;
  min-width: 300px;
}
.gpt3_features-section .gpt3_features .gpt3_features-container .gpt3_feature .gpt3_feature-text p {
  font-family: "Manrope";
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 20px;
  color: #81AFDD;
}

@media screen and (max-width: 992px) {
  .gpt3_features-section .gpt3_features .gpt3_feature-header {
    min-width: 100%;
  }
  .gpt3_features-section .gpt3_features .gpt3_feature-header .gpt3_feature-header-text, .gpt3_features-section .gpt3_features .gpt3_feature-header .gpt3_feature-header-para {
    padding: 0 0 2rem 0;
  }
  .gpt3_features-section .gpt3_features .gpt3_feature-header .gpt3_feature-header-text h1, .gpt3_features-section .gpt3_features .gpt3_feature-header .gpt3_feature-header-para h1 {
    font-size: 1.5rem;
    line-height: 35px;
  }
  .gpt3_features-section .gpt3_features .gpt3_feature-header .gpt3_feature-header-text p, .gpt3_features-section .gpt3_features .gpt3_feature-header .gpt3_feature-header-para p {
    font-size: 0.8rem;
  }
  .gpt3_features-section .gpt3_features .gpt3_features-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1;
  }
  .gpt3_features-section .gpt3_features .gpt3_features-container .gpt3_feature {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .gpt3_features-section .gpt3_features .gpt3_features-container .gpt3_feature .gpt3_feature-title {
    width: 140px;
    margin: 0 2rem 0 0;
    flex: none;
  }
  .gpt3_features-section .gpt3_features .gpt3_features-container .gpt3_feature .gpt3_feature-text {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 600px) {
  .gpt3_features-section .gpt3_features .gpt3_feature-header .gpt3_feature-header-text h1 {
    padding: 0 4rem 0 1rem;
  }
  .gpt3_features-section .gpt3_features .gpt3_feature-header .gpt3_feature-header-para p {
    padding: 0 4rem 0 1rem;
  }
  .gpt3_features-section .gpt3_features .gpt3_features-container .gpt3_feature {
    flex-direction: column;
    margin: 0 0 0 1rem;
  }
  .gpt3_features-section .gpt3_features .gpt3_features-container .gpt3_feature p {
    padding: 0 4rem 0 0;
  }
  .gpt3_features-section .gpt3_features .gpt3_features-container .gpt3_feature .gpt3_feature-text {
    padding: 0;
  }
}
.gpt3__possibility .row {
  display: flex;
  flex-direction: row;
}

.gpt3__possibility-image {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  margin-right: 2rem;
}

.gpt3__possibility-image img {
  width: 80%;
  height: 100%;
}

.gpt3__possibility-content {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}

.gpt3__possibility-content h4 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #71E5FF;
}

.gpt3__possibility-content h4:last-child {
  color: #FF8A71;
}

.gpt3__possibility-content p {
  font-family: "Manrope";
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 20px;
  color: #81AFDD;
  padding: 1rem 2rem 1rem 0;
}
@media screen and (max-width: 992px) {
  .gpt3__possibility-content p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 992px) {
  .gpt3__possibility .row {
    margin-top: 4rem;
    flex: 1;
  }
  .gpt3__possibility-content {
    margin: 4rem 0 0 0;
  }
}
@media screen and (max-width: 768px) {
  .gpt3__possibility .row {
    flex-direction: column;
    padding: 0 1rem;
  }
  .gpt3__possibility-content h1 {
    padding: 22px 0;
    font-size: 2rem;
  }
}
.cta-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  border-radius: 10.7236px;
  padding: 20px 40px;
  background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 8rem;
  align-items: center;
}

.gpt3_cta-text .cta-text-sm p {
  font-family: "Manrope";
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  color: #0E0E0E;
}

.cta-container .cta-text h2 {
  font-family: "Manrope";
  font-weight: 800;
  font-size: 20px;
  line-height: 45px;
  color: #000000;
}

.cta-container button {
  background: #000000;
  border-radius: 30px;
  padding: 14px 35px;
  font-family: "Manrope";
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
}

.cta-container button:hover {
  transition: 0.55s;
  background: #fff;
  color: #000000;
}

@media screen and (max-width: 992px) {
  .cta-container button {
    padding: 6px 28px;
    font-size: 11px;
    line-height: 16px;
  }
}
@media screen and (max-width: 768px) {
  .cta-container .cta-text h2 {
    font-size: 16px;
  }
  .cta-container {
    flex-direction: column;
  }
  .cta-container .cta-text h2 {
    line-height: 25px;
  }
  .cta-container button {
    padding: 10px 18px;
    font-size: 11px;
  }
  .cta-container .cta-btn {
    margin-top: 6px;
  }
}
.gpt3_blog {
  display: flex;
  flex-direction: column;
}

.blog-header {
  margin: 80px auto;
}
.blog-header .blog-header h1 {
  font-family: "Manrope";
  font-weight: 800;
  font-size: 62px;
  line-height: 85px;
  letter-spacing: -0.04em;
}

.gpt3_blog .posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.gpt3_blog .post-item1 {
  grid-row-start: span 2;
  width: 360px;
}

.gpt3_blog .post-item1 h4 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 25.11px;
  line-height: 30px;
}

.post-item1 .post-footer {
  margin-top: 240px;
}

.gpt3_blog .posts .post {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  background: #052D56;
}

.gpt3_blog img {
  width: 100%;
  height: auto;
}

.post-body h4 {
  padding: 20px 20px 0 20px;
  color: #ffffff;
  font-family: "Manrope";
  font-weight: 800;
  font-size: 19.3154px;
  line-height: 30px;
}

.post-body p, .post-footer {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 11.649px;
  color: #ffffff;
  padding: 20px 20px 0 20px;
  line-height: 35px;
}

.post-footer a {
  color: #ffffff;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .gpt3_blog .posts {
    grid-template-columns: repeat(2, 1fr);
  }
  .gpt3_blog .post-item1 {
    grid-row-start: span 1;
    width: 100%;
  }
  .post-item1 .post-footer {
    margin-top: 0px;
  }
}
@media screen and (max-width: 768px) {
  .gpt3_blog .posts {
    grid-template-columns: repeat(1, 1fr);
  }
  .post-body h4, .gpt3_blog .post-item1 h4 {
    font-size: 16px;
  }
  .blog-header h1 {
    font-size: 2rem;
  }
}
/* footer section */
.footer {
  background: #052D56;
  color: #ffffff;
  padding: 40px 0;
  margin: 200px auto 0;
  align-items: center;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-items {
  display: flex;
  text-align: start;
  padding: 0 32px;
}

.footer ul li {
  padding: 10px 0;
  font-size: 12px;
}

.footer a {
  text-decoration: none;
  color: #ffffff;
}

.footer-header h1 {
  margin: 120px 0 32px;
  font-size: 60px;
  line-height: 70px;
}

.footer-header div {
  margin: 40px 40px 164px;
}

.footer-header a {
  font-size: 16px;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 18px 14px;
}

.footer .footer-items .ft-col-header {
  margin: 0 0 20px 0;
  font-weight: 800;
}

.foot-note {
  margin: 80px 0 0 0;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .footer-header h1 {
    font-size: 2rem;
    margin: 0 0;
    line-height: 40px;
  }
  .footer-header {
    text-align: start;
    padding: 0 32px;
  }
  .footer-header div {
    margin: 32px 0;
  }
  .footer ul li {
    padding: 4px 0;
  }
  .ft-col-header {
    padding-top: 36px;
  }
}/*# sourceMappingURL=style.css.map */